{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "templateStrings": true,
        "module": true
    },
    "rules": {
        "strict": 0,
        "eqeqeq": 1,
        "curly": 1,
        "quotes": 0,
        "no-unused-vars": 1,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-redeclare": [2, {"builtinGlobals": true}],
        "no-undef": 2
    }
}

